.portraitDiv {
    width: 50%;
    background-image: url("portrait.png");
    background-repeat: no-repeat;
    background-position: right center;
    height: 600px;
    display: flex;
}

.portraitContainer {
    width: 100%;
    background-color:lightskyblue;
    margin: auto;
    display: flex;
}

.statsDiv {
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
}